.anniversary-col {
  width: 35%;
  height: 350px;
  background-color: var(--widget-background-color);
  backdrop-filter: blur(5px);
  position: absolute;
  right: -50%;
  top: 135px;
  border-radius: 10px;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.anniversary-col span {
  display: block;
  margin-top: 20px;
  margin-bottom: 10px;
  text-align: center;
  font-size: 25px;
  font-family: "Georgia";
  font-style: italic;
}

.anniversary-col .dDay {
  border: 1px solid white;
  border-radius: 10px;
  width: 80%;
  height: 25%;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.anniversary-col .dDay span {
  font-family: "Ephesis", cursive;
  font-size: 55px;
}

.anniversary-col .dayList {
  border: 1px solid white;
  border-radius: 10px;
  width: 80%;
  height: 50%;
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px 0;
  overflow-y: scroll;
}

.anniversary-col .dayList::-webkit-scrollbar {
  display: none;
}

.anniversary-col .dayList li {
  background-color: rgba(46, 139, 87, 0.4);
  width: 90%;
  height: 20%;
  padding: 10px 10px 10px 20px;
  border-radius: 10px;
  text-align: center;
  margin: 3px 0;
}
