.clock-column {
  width: 100%;
  background-color: var(--widget-background-color);
  backdrop-filter: blur(5px);
  border-radius: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 40px;
}

.clock-column span {
  font-size: 160px;
  color: white;
}

.clock-column #year,
.clock-column #second {
  background-color: var(--subWidget-background-color);
  border-radius: 10px;
  width: 15%;
  height: 40px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
