.info-column {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 105px; /* 70*/
  max-height: 100%;
  width: 100%;
  margin-bottom: 30px;
}

.user-column {
  background-color: var(--widget-background-color);
  backdrop-filter: blur(5px);
  color: white;
  border-radius: 10px;
  padding: 0 10px;
  width: 35%;
  margin-right: 10px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.subinfo-column {
  width: 65%;
  height: 100%;
}

.user-column #greeting {
  font-size: 30px;
}

.subinfo-column #quote,
.subinfo-column #weather {
  background-color: var(--widget-background-color);
  backdrop-filter: blur(5px);
  color: white;
  border-radius: 10px;
  padding: 10px 20px;
}

.subinfo-column #quote {
  margin-bottom: 10px;
  height: 55%;
  font-family: "Georgia";
  font-style: italic;
}

.subinfo-column #quote span:first-child {
  font-weight: 600;
  display: block;
  margin-bottom: 7px;
}

.subinfo-column #quote span:last-child {
  font-size: 15px;
  opacity: 0.4;
  color: white;
  font-weight: 600;
}

.subinfo-column #weather {
  height: 35%;
}

.subinfo-column #weather span {
  font-weight: 600;
}
