@import "./login.css";
@import "./info.css";

body {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: gray;
}

* {
  box-sizing: border-box;
}
.hidden {
  display: none !important;
}

.content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
