#todo-form {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: var(--widget-background-color);
  backdrop-filter: blur(5px);
  border-radius: 10px;
  padding: 10px 0;
}

.todo-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 55%;
}

.todo-column span {
  color: white;
  font-size: 35px;
  margin-bottom: 20px;
  width: 100%;
  text-align: center;
}

.todo-column input {
  font-size: 30px;
  outline: none;
  border: none;
  background: none;
  border-bottom: 3px solid white;
  color: white;
  text-align: center;
  width: 100%;
}

#todo-list {
  background-color: var(--widget-background-color);
  backdrop-filter: blur(5px);
  border-radius: 10px;
  width: 100%;
  max-height: 280px;
  list-style: none;
  padding: 10px;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 15px 0;
}

#todo-list::-webkit-scrollbar {
  width: 5px;
}
#todo-list::-webkit-scrollbar-thumb {
  background-color: white;
  border-radius: 20px;
  transition: all 0.3s ease-in-out;
}
#todo-list li {
  background-color: var(--subWidget-background-color);
  border-radius: 10px;
  width: 50%;
  padding: 10px 10px 10px 50px;
  margin: 3px 0;
  display: flex;
  align-items: center;
  position: relative;
  transition: all 0.2s ease-in-out;
}

#todo-list li:hover {
  transform: scale(1.1);
  background-color: black;
  transition: all 0.2s ease-in-out;
}

#todo-list span {
  font-size: 20px;
  color: white;
  width: 70%;
  overflow-x: scroll;
}

#todo-list span::-webkit-scrollbar {
  display: none;
}

#todo-list div {
  position: absolute;
  background: none;
  border: none;
  right: 50px;
  color: white;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
}

#todo-list div i {
  pointer-events: none;
}
